body {
background-image:url(https://prijsbest.nl/Image/36752577_-behangpapier-behang-papieren-vliegtuigjes.jpg);
background-size: 100vw 100vh;
background-attachment: fixed;
margin: 0;
}

form {
    width:450px;
    margin: auto;
    background: rgba( #b3cccc)
}
